*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Geist Mono', sans-serif;
  background: #ffffff;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  background: radial-gradient(
    800px circle at var(--mouse-x, 50vw) var(--mouse-y, 50vh),
    rgba(245, 158, 11, 0.12) 0%,   /* Amber (from Name) */
    rgba(225, 29, 72, 0.08) 25%,   /* Rose (from Database) */
    rgba(37, 99, 235, 0.05) 55%,   /* Blue (from Frontend) */
    transparent 80%
  );

  z-index: -1;
}

.toast {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  
  padding: 14px 28px;
  border-radius: 20px;
  text-align: center;
  max-width: 380px;
  width: 90vw;
  
  background: #292524;
  color: #FDE68A;
  border: 1px solid #57534E;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  
  animation: fadeInOut 3.5s ease forwards;
  z-index: 999;
}




